.custom-navbar{
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    padding: 15px 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.navbar-brand{
    color:white;
    font-size:1.5rem;
    font-weight:bold;
}

.nav-link{
    color:white !important;
    margin-right:15px;
    font-weight:500;
    transition:0.3s;
}

.nav-link:hover{
    color:#ffd700 !important;
}

/* Login Button */
.login-btn{
    border:1px solid white;
    color:white;
    padding:8px 20px;
    border-radius:8px;
}

.login-btn:hover{
    background:white;
    color:#1e3c72;
}

/* Register Button */
.register-btn{
    border:1px solid white;
    color:white;
    padding:8px 20px;
    border-radius:8px; 
}

.register-btn:hover{
    background: white;
    opacity:0.9;
    color:#1e3c72;
}

/* COntaine CSS */
/* Container holding all posts */
.posts-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    gap:20px;
    padding:30px;
}

/* Each post card */
.post-card{
    display:grid;
    grid-template-areas:
        "author date"
        "message message";

    grid-template-columns: 1fr auto;

    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);

    transition:0.3s;
    width: 100%;
    max-width: 450px;   /* 👈 makes card smaller */
    margin: auto;      /* centers it */
}

.post-card:hover{
    transform:translateY(-4px);
}

/* Grid Areas */
.author{
    grid-area:author;
    font-weight:bold;
    font-size:1.1rem;
    color:#1e3c72;
}

.date{
    grid-area:date;
    color:gray;
    font-size:0.85rem;
    text-align:right;
}

.message{
    grid-area:message;
    margin-top:15px;
    line-height:1.6;
    color:#333;
}
.title{
    grid-area:title;
    margin-top:12px;
    font-size:1.3rem;
    font-weight:700;
    color:#222;
}

/* Author image */
.author-img{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
    border:2px solid #1e3c72;
}

.site-footer{
    text-align:center;
    padding:15px;
    margin-top:30px;

    background: linear-gradient(90deg, #1e3c72, #2a5298);
    color:white;

    font-size:14px;
    letter-spacing:1px;

    box-shadow:0 -3px 10px rgba(0,0,0,0.1);
}