
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if title %}
                FastAPI CRUD - {{ title }}
            {% else %}
                FastAPI CRUD
            {% endif %}
            </title>
    </head>
    <body>
        <h1>Home Page</h1>
    <!-- looping through the posts we have accessing their data -->>
        {% for post in posts %}
            <div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                <p>By {{ post.author }} on {{ post.date_posted }}</p>
                <p>=========================</p>
            </div>
        {% endfor %}
    </body>
</html>
