{% extends "layout.html" %}
   
 <!-- this code extends from layout.html and defines the content block that will be rendered in home.html -->
    {% block content %}
        <!-- looping through the posts we have accessing their data -->
        {% for post in posts %}
            
             <div class="posts-container">
                <div class="post-card">
                <div class="author">{{ post.title }}</div>
                <div class="title"> <img src="{{url_for('static', path='images/fic.png')}}" class="author-img">
                    By {{ post.author }}</div>
 
                <div class="date">{{ post.date_posted }}</div>
                <div class="message">By {{ post.content }}</div>
            </div>

        </div>


    </div>
        {% endfor %}
{% endblock %}
