<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if title %}
                FastAPI CRUD - {{ title }}
            {% else %}
                FastAPI CRUD
            {% endif %}
        </title>
    <!-- adding bootstrap cdn for styling our app --> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <!-- Static CSS-->
        <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}">
    </head>
    <body>

      <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand">FASTAPI PYTHON</a>

        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <!-- LEFT SIDE LINKS -->
            <div class="navbar-nav">
                <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Pricing</a>
                <a class="nav-link disabled">Disabled</a>
            </div>

            <!-- RIGHT SIDE BUTTONS -->
            <div class="ms-auto d-flex gap-2">
                <a href="#" class="btn btn-outline-light mb-2 mb-md-0 me-md-2 login-btn">Login</a>
                <a href="#" class="btn register-btn">Register</a>
            </div>

        </div>
    </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
