{% extends "layout.html" %}
{% block content %}
    <div class="post-container">
        <div class="post-card">
            <!-- HEADER (author + image + date) -->
            <div class="post-header">
                <img src="{{ url_for('static', path='images/fic.png') }}"class="author-img">
                <div class="author">{{ post.author }}</div>
                <div class="date">{{ post.date_posted }}</div>
                <div class="title">{{ post.title }}</div>
            </div>
            <!-- MESSAGE -->
            <div class="message">{{ post.content }}</div>
            <!-- ACTIONS (BOTTOM) -->
            <div class="post-actions">
                <button class="btn btn-sm btn-outline-primary rounded-pill px-3">Edit Post</button>
                <button class="btn btn-sm btn-outline-danger rounded-pill px-3">Delete Post</button>
            </div>
        </div>
    </div>

{% endblock %}